<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tipo de Persona</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Tipo Persona</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                        </li>
                        
                    </ul>
                   
                </div>
            </div>
        </nav>
        
        <div class="container mt-4">
            <a th:href="@{/newTP}" class="btn btn-primary">Nuevo</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBREs</th>
                        <th>OPCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="tipopersona:${mTipoPersonas}">
                        <td th:text="${tipopersona.id}"></td>
                        <td th:text="${tipopersona.name}"></td>
                        <td>
                            <a th:href="@{/editarTP/}+${tipopersona.id}" class="btn btn-warning">Editar</a>
                            <a th:href="@{/eliminarTP/}+${tipopersona.id}" class="btn btn-danger">Eliminar</a>
                                
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
